@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Mono:ital,wght@0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-image: url("images/neon-tropical-monstera-leaf-banner_53876-138943.jpg");
}

